name: Data Crawler

on:
  schedule:
    - cron: '0 14 * * *'
  workflow_dispatch:

permissions:
  contents: write

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.9'

      - name: Install dependencies
        run: |
          pip install -r requirements.txt

      - name: Run crawler code
        run: python main.py

      # [중요] 여기 파일명이 csv로 바뀌었습니다!
      - name: Commit and Push results
        run: |
          git config --global user.name "GitHub Actions Bot"
          git config --global user.email "actions@github.com"
          git add dataset.csv
          git commit -m "Auto-update: dataset.csv" || echo "No changes to commit"
          git push
